{% extends 'base.html.twig' %}

{% block title %} Modification de Mot de passe {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <script type="text/javascript">
        var password = document.getElementById('fakePassword');
          var toggler = document.getElementById('toggler');
    
          showHidePassword = () => {
            if (password.type == 'password') {
              password.setAttribute('type', 'text');
              toggler.classList.add('fa-eye-slash');
            } else {
              password.setAttribute('type', 'password');
            }
          };
    
          toggler.addEventListener('click', showHidePassword);
    </script>
{% endblock %}

{% block body %}
<div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">     
            <div class="login-card login-dark">
              <div>
                <div class="login-main"> 
                  <form class="theme-form" method="post">
                    <h4>Modification de mot passe</h4>
                    <div class="form-group">
                      <label class="col-form-label">Nouveau Mot de Passe</label>
                      <div class="form-input position-relative">
                        <input class="form-control" type="password" name="password" id="fakePassword" required placeholder="*********">
                        <span><i id="toggler"class="fa fa-fw fa-eye-slash show-hide"></i></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Confirmation Mot de Passe</label>
                      <input class="form-control" type="password" id="confirm_password" name="confirm_password" required="" placeholder="*********">
                    </div>
                    <input type="hidden" name="Cpwdtoken" value="{{ csrf_token('add-cpwd') }}">
                    <div class="form-group mb-0">
                      <button class="btn btn-primary btn-block w-100" type="submit">Modifier </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
