<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Canaan Express Service admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin with unlimited possibilities.">
    <meta name="keywords" content="admin, Canaan Express admin, dashboard, flat admin, responsive admin, web app">
    <meta name="author" content="Saphir's Digit SARL">
    <link rel="icon" href="{{asset('canexp/assets/images/favicon.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{asset('canexp/assets/images/favicon.png')}}" type="image/x-icon">
    <title>Canaan Express Service - The best of the field</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/font-awesome.css')}}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/icofont.css')}}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/themify.css')}}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/flag-icon.css')}}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/feather-icon.css')}}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/bootstrap.css')}}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/style.css')}}">
    <link id="color" rel="stylesheet" href="{{asset('canexp/assets/css/color-1.css')}}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/responsive.css')}}">
  </head>
  <body>
    <!-- login page start-->
    <div class="container-fluid p-0">
        <div class="row m-0">
        <div class="col-12 p-0">    
          <div class="login-card login-dark">
            <div>
              <div><a class="logo" href="{{path('app_login')}}"><img class="img-fluid for-light" src="{{asset('canexp/assets/images/logo/logo.png')}}" alt="looginpage" width="475" height="145"><img class="img-fluid for-dark" src="{{asset('canexp/assets/images/logo/logo_dark.png')}}" alt="looginpage" width="475" height="145"></a></div>
              <div class="login-main"> 
                <form class="theme-form" method="post">
                  <h4>Connexion au compte</h4>
                  <p>Entrez votre identifiant & mot de passe pour vous connecter</p>
                  {% if error %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  {% if app.user %}
                      <div class="mb-3">
                          You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                      </div>
                  {% endif %}
                  <div class="form-group">
                    <label class="col-form-label">Identifiant</label>
                    <input class="form-control" type="text" required="" value="{{ last_username }}" name="username" placeholder="abcd1234">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Mot de Passe</label>
                    <div class="form-input position-relative">
                      <input class="form-control" type="password" name="password" required="" id="fakePassword" autocomplete="current-password">
                      <span><i id="toggler"class="fa fa-fw fa-eye-slash show-hide"></i></span>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                  <div class="form-group mb-0">
                    <div class="checkbox p-0">
                      <input id="checkbox1" type="checkbox" name="_remember_me">
                      <label class="text-muted" for="checkbox1" >Se Souvenir de moi</label>
                    </div>
                    <button class="btn btn-primary btn-block w-100" type="submit">Se Connecter</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- latest jquery-->
      <script src="{{asset('canexp/assets/js/jquery.min.js')}}"></script>
      <!-- Bootstrap js-->
      <script src="{{asset('canexp/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
      <!-- feather icon js-->
      <script src="{{asset('canexp/assets/js/icons/feather-icon/feather.min.js')}}"></script>
      <script src="{{asset('canexp/assets/js/icons/feather-icon/feather-icon.js')}}"></script>
      <!-- scrollbar js-->
      <!-- Sidebar jquery-->
      <script src="{{asset('canexp/assets/js/config.js')}}"></script>
      <!-- Plugins JS start-->
      <!-- Theme js-->
      <script src="{{asset('canexp/assets/js/script.js')}}"></script>
      <!-- Plugin used-->
      
        <script type="text/javascript">
            var password = document.getElementById('fakePassword');
              var toggler = document.getElementById('toggler');
        
              showHidePassword = () => {
                if (password.type == 'password') {
                  password.setAttribute('type', 'text');
                  toggler.classList.add('fa-eye-slash');
                } else {
                  password.setAttribute('type', 'password');
                }
              };
        
              toggler.addEventListener('click', showHidePassword);
        </script>
    </div>
  </body>
</html>