.contentPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-service {
    height:600px;
    margin: auto;
    width: 50%;
    max-width: fit-content;
    overflow: scroll;
}
.row-service .col-md-5 img {
    height: 220px;
    width: 98%;
    border: 5px solid #eaf4ff;
    border-radius: 20px;
    object-fit: fill;
    margin: auto;
}
.row-service .col-md-5 {
    background: #EEF1F6;
    text-align: center;
    padding: 2%;
    margin: 1%;
}
.welcom-text{
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .row-service {
        height:600px;
        margin: auto;
        width: 75%;
        max-width: fit-content;
        overflow: scroll;
    }
    .welcom-text{
        width: 100%
    }
}
