<form method="post" action="{{ path('app_recrutements_delete', {'id': recrutement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recrutement.id) }}">
    <button class="btn">Delete</button>
</form>
