{% extends 'base.html.twig' %}

{% block title %} Nouveau Recrutement || {{ parent() }} {% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        const formule = {
            access: 5000,
            evasion: 10000,
            access_plus: 15000,
            evasion_plus: 20000,
            tout_canal: 40000
        }
        
        let currentFormuleMontant = 5000
        let currentDMontant = 10000
        let total = 0
        let total1 = currentFormuleMontant
        let total2 = 0

        let getFormule = document.querySelector(".formule")
        let getTotalFormule = document.querySelector(".totalFormule")
        getTotalFormule.innerHTML = total1
        {# getFormule.addEventListener("click", function(){
            alert("clique on formule select")
        }) #}
        getFormule.addEventListener("change", (e) => {
            console.log("formule :: ",e.target.value)
            if (e.target.value == "Access"){
                currentFormuleMontant = formule.access
            }
            else if (e.target.value == "Evasion"){
                currentFormuleMontant = formule.evasion
            }
            else if (e.target.value == "Access +"){
                currentFormuleMontant = formule.access_plus
            }
            else if (e.target.value == "Evasion +"){
                currentFormuleMontant = formule.evasion_plus
            }
            else if (e.target.value == "Tout Canal +"){
                currentFormuleMontant = formule.tout_canal
            }
            console.log("currentFormuleMontant : ", currentFormuleMontant)
            total1 = currentFormuleMontant
            getTotalFormule.innerHTML = total2 - total1
        })

        getOption.addEventListener("change", (e) => {
            console.log("cformule :: ",e.target.value)
            if (e.target.value == "Access"){
                currentCformuleMontant = cformule.caccess
            }
            else if (e.target.value == "Evasion"){
                currentCformuleMontant = cformule.cevasion
            }
            else if (e.target.value == "Access +"){
                currentCformuleMontant = cformule.caccess_plus
            }
            else if (e.target.value == "Evasion +"){
                currentCformuleMontant = cformule.cevasion_plus
            }
            else if (e.target.value == "Tout Canal +"){
                currentCformuleMontant = cformule.ctout_canal
            }
            console.log("currentCformuleMontant : ", currentCformuleMontant)
            total2 = currentCformuleMontant
            getTotalFormule.innerHTML = total2 - total1
        })

        {# if (total1>0 && total2>0){
            total = total1 + total2
            getTotalFormule.innerHTML = total
        } #}
        
        var inputQuantityTel = [];
        $(function() {
            $(".ntel").on("keyup", function (e) {
                var $field = $(this),
                val=this.value,
                $thisIndex=parseInt($field.data("idx"),11); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityTel[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                    val=val.slice(0, 11);
                    $field.val(val);
                }
                inputQuantityTel[$thisIndex]=val;
            });
        });
    </script>
{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
                <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
                <li class="breadcrumb-item f-w-400">Recrutement</li>
                <li class="breadcrumb-item f-w-400 active">New Recrutement</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                <h4>Nouveau Recrutement</h4>
                <p class="f-m-light mt-1">Priez prendre le soins de bien remplir le formulaire.</p>
                </div>
                <div class="card-body custom-input">
                    <form class="row g-3" method="POST">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="nom">Nom Client</label>
                            <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom Client" aria-label="Nom" required>
                        </div>
                        
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="prenom">Prénom(s) Clients</label>
                            <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Prénom(s) Clients" aria-label="Prénom(s) Clients" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="ntel">N° Téléphone</label>
                            <input class="form-control ntel" id="ntel" name="phone" type="tel" placeholder="22900000000"  min="0" max="22999999999" maxlength="11" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="quartier">Quartier</label>
                            <input class="form-control" id="quartier" name="quartier" type="text" placeholder="Quartier" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="decodeur">N° Décodeur</label>
                            <select class="form-select" id="entran" name="decodeur">
                                <option value="Choisir le décodeur" selected disabled> Choisir le décodeur</option>
                                {% for stock in stocks %}
                                    {% for decodeur in stock.decodeurs %}
                                        {% if decodeur.statut == false %}
                                            <option value="{{ decodeur.numero }}"> {{ decodeur.numero }} </option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="C63195">Choix Formule</label>
                            <select class="form-select formule" id="C63195" name="formule" required="" >
                                <option value="Access"> Access </option>
                                <option value="Evasion"> Evasion </option>
                                <option value="Access +"> Access + </option>
                                <option value="Evasion +"> Evasion + </option>
                                <option value="Tout Canal +"> Tout Canal + </option>
                            </select>
                        </div>

                        <div class="col-12"> 
                            <label class="form-label" for="exampleFormControlTextarea1">Observation</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="observation" rows="3"></textarea>
                        </div>

                        <div class="col-12"> 
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" role="switch" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Êtes-vous sûr que les informations ci-dessus sont vraies ?</label>
                            </div>
                        </div>
                        <input type="hidden" name="Rectoken" value="{{ csrf_token('add-rec') }}">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}
