{% extends 'base.html.twig' %}

{% block title %}Recrutements{% endblock %}

{% block body %}
    <h1>Recrutements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recrutement.id }}</td>
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ recrutement.NomClient }}</td>
            </tr>
            <tr>
                <th>PrenomClient</th>
                <td>{{ recrutement.PrenomClient }}</td>
            </tr>
            <tr>
                <th>AdresseClient</th>
                <td>{{ recrutement.AdresseClient }}</td>
            </tr>
            <tr>
                <th>PhoneClient</th>
                <td>{{ recrutement.PhoneClient }}</td>
            </tr>
            <tr>
                <th>OptionF</th>
                <td>{{ recrutement.OptionF }}</td>
            </tr>
            <tr>
                <th>NbrMoisOF</th>
                <td>{{ recrutement.NbrMoisOF }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ recrutement.Reference }}</td>
            </tr>
            <tr>
                <th>Formule</th>
                <td>{{ recrutement.Formule }}</td>
            </tr>
            <tr>
                <th>NbrMois</th>
                <td>{{ recrutement.NbrMois }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ recrutement.Statut }}</td>
            </tr>
            <tr>
                <th>FinRea</th>
                <td>{{ recrutement.FinRea ? recrutement.FinRea|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ recrutement.createdAt ? recrutement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ recrutement.updatedAt ? recrutement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recrutements_index') }}">back to list</a>

    <a href="{{ path('app_recrutements_edit', {'id': recrutement.id}) }}">edit</a>

    {{ include('recrutements/_delete_form.html.twig') }}
{% endblock %}
