{% extends 'base_default.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('canexp/assets/css/default_page/index.css') }}">
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row pt-10">
            <h3 class="text-dark text-center welcom-text">Bienvenue sur CANAAN EXPRESS SERVICES. Cliquez sur le service que vous voulez. Merci. </h3>
        </div>
        <div class="contentPage">
            <div class="row justify-content-center row-service">
                <div class="col-xl-5 col-md-5">
                    <a href="{{ path('app_orangep') }}">
                        <img src="{{ asset('canexp/assets/images/services/canalplus.jpeg') }}" class="img-fluid"
                             alt="Image 1">
                        <div class="caption text-center mt-2 text-dark fw-bold">CANAL +</div>
                    </a>
                </div>
                <div class="col-xl-5 col-md-5">
                    <a href="">
                        <img src="{{ asset('canexp/assets/images/services/carte_bancaire.jpeg') }}" class="img-fluid"
                             alt="Image 2">
                        <div class="caption text-center mt-2 text-dark fw-bold">CARTES VISA</div>
                    </a>
                </div>
                <div class="col-xl-5 col-md-5">
                    <a href="">
                        <img src="{{ asset('canexp/assets/images/services/assurance.jpeg') }}" class="img-fluid" alt="Image 3">
                        <div class="caption text-center mt-2 text-dark fw-bold">ASSURANCE</div>
                    </a>
                </div>
                <div class="col-xl-5 col-md-5">
                    <a href="">
                        <img src="{{ asset('canexp/assets/images/services/voyage.jpeg') }}" class="img-fluid"
                             alt="Image 4">
                        <div class="caption text-center mt-2 text-dark fw-bold">BILLET D’AVION</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
