{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid dashboard-2">
    <div class="row"> 
        <div class="col-xl-6 col-md-6 proorder-md-1"> 
            <div class="card">
                <div class="card-header card-no-border pb-0">
                    <div class="header-top">
                        <h4>Service Status</h4>
                        <div class="dropdown icon-dropdown">
                        <button class="btn dropdown-toggle" id="userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                        </div>
                    </div>
                </div>
                <div class="card-body project-status-col">
                    <div class="row"> 
                        <div class="col-6">
                        <div class="btn-light1-primary b-r-10"> 
                            <div class="upcoming-box"> 
                            <div class="upcoming-icon bg-primary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/calendar.png')}}" alt=""></div>
                            <h6>Réabonnements</h6>
                            <p>{{ reabonnements|length }}</p>
                            </div>
                        </div>
                        </div>
                        <div class="col-6">
                        <div class="btn-light1-secondary b-r-10"> 
                            <div class="upcoming-box"> 
                            <div class="upcoming-icon bg-secondary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/check.png')}}" alt=""></div>
                            <h6>Migrations</h6>
                            <p>{{ migrations|length }}</p>
                            </div>
                        </div>
                        </div>
                        <div class="col-6">
                        <div class="btn-light1-warning b-r-10"> 
                            <div class="upcoming-box mb-0"> 
                            <div class="upcoming-icon bg-warning"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/processing.png')}}" alt=""></div>
                            <h6>Comléments</h6>
                            <p>{{ complements|length }}</p>
                            </div>
                        </div>
                        </div>
                        <div class="col-6">
                        <div class="btn-light1-tertiary b-r-10"> 
                            <div class="upcoming-box mb-0"> 
                            <div class="upcoming-icon bg-tertiary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/total.png')}}" alt=""></div>
                            <h6>Recrutements</h6>
                            <p>{{ recrutements|length }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-12 proorder-md-1">  
            <div class="row"> 

                <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                        <div class="card-body student-2">
                        <div class="d-flex gap-2 align-items-end"> 
                            <div class="flex-grow-1">
                                <h2>{{ decodeurs|length > 0 ? decodeurs|length : 0 }}</h2>
                                <p class="mb-0 text-truncate"> Décodeurs </p>
                            </div>
                            <div class="flex-shrink-0"><img src="{{asset('canexp/assets/images/dashboard-4/icon/invoice.png')}}" alt=""></div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                        <div class="card-body student-4">
                        <div class="d-flex gap-2 align-items-end"> 
                            <div class="flex-grow-1">
                                <h2>{{ decodeurs|length > 0 ? decodeurs|length : 0 }}</h2>
                                <p class="mb-0 text-truncate"> Paraboles</p>
                            </div>
                            <div class="flex-shrink-0"><img src="{{asset('canexp/assets/images/dashboard-3/icon/shopping1.png')}}" alt=""></div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-sm-12"> 
                    <div class="card">
                        <div class="card-header card-no-border pb-0">
                            <div class="header-top">
                                <h4>Recent Réabonnements</h4>
                            </div>
                        </div>
                        <div class="card-body p-0 projects">
                            <div class="table-responsive theme-scrollbar">
                                <table class="table display overflow-hidden" id="recent-product" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Références</th>
                                        <th>Formule</th>
                                        <th>Montant </th>
                                        <th>Statut</th>
                                        <th>Fin Réa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rea in reas %}
                                        <tr>
                                            <td><span class="badge badge-primary"> {{ rea.Reference }} </span></td>
                                            <td>{{ rea.Formule }}</td>
                                            <td>{{ rea.Montant }}</td>
                                            <td>
                                                {% if rea.Statut == true %}
                                                    <span class="badge rounded-pill badge-success">Activé</span>
                                                {% else %}
                                                    <span class="badge rounded-pill badge-danger">En cours</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ rea.FinRea ? rea.FinRea|date('Y-m-d') : '' }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="13">no records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="col-xxl-6 col-xl-6 box-col-6"> #}
        {#    <div class="card">#}
        {#        <div class="card-header card-no-border pb-0">#}
        {#            <div class="header-top">#}
        {#                <h4>Statistiques des Services</h4>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="card-body sales-product px-0 pb-0">#}
        {#            <div class="table-responsive theme-scrollbar">#}
        {#                <table class="table display" style="width:100%">#}
        {#                    <thead>#}
        {#                        <tr>#}
        {#                        <th>Nom Service</th>#}
        {#                        <th>Semaine</th>#}
        {#                        <th>Mois</th>#}
        {#                        <th>Total</th>#}
        {#                        </tr>#}
        {#                    </thead>#}
        {#                    <tbody>#}
        {#                        <tr>#}
        {#                            <td> Réabonnements </td>#}
        {#                            <td> {{ rea7|length }} </td>#}
        {#                            <td> {{ rea30|length }} </td>#}
        {#                            <td> {{ reabonnements|length }} </td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                            <td> Compléments </td>#}
        {#                            <td> {{ com7|length }} </td>#}
        {#                            <td> {{ com30|length }} </td>#}
        {#                            <td> {{ complements|length }} </td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                            <td> Migrations </td>#}
        {#                            <td> {{ mig7|length }} </td>#}
        {#                            <td> {{ mig30|length }} </td>#}
        {#                            <td> {{ migrations|length }} </td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                            <td> Recrutements </td>#}
        {#                            <td> {{ rec7|length }} </td>#}
        {#                            <td> {{ rec30|length }} </td>#}
        {#                            <td> {{ recrutements|length }} </td>#}
        {#                        </tr>#}
        {#                    </tbody>#}
        {#                </table>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#</div>#}

        <div class="col-xxl-6 col-xl-6 box-col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Table des recharges</h4>
                </div>
                <div class="table-responsive theme-scrollbar">
                    <table class="table">
                        <thead>
                        <tr class="border-bottom-primary">
                            <th scope="col">N°</th>
                            <th scope="col">Date</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Rechargé par</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set counter = 0 %}
                            {% for recharge in recharges %}
                                {% set counter = counter + 1 %}
                                <tr class="border-bottom-secondary">
                                    <th scope="row">{{ counter }}</th>
                                    <td>{{ recharge.createdAt ?recharge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td><span class="badge badge-light-danger">{{ recharge.montant }}</span></td>
                                    <td>{{ recharge.admi.username }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Pas d'enregistrement</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# <div class="row"> 
            <div class="col-xl-6 col-md-6 proorder-md-1"> 
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <div class="header-top">
                            <h4>Service Status</h4>
                            <div class="dropdown icon-dropdown">
                            <button class="btn dropdown-toggle" id="userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body project-status-col">
                        <div class="row"> 
                            <div class="col-6">
                            <div class="btn-light1-primary b-r-10"> 
                                <div class="upcoming-box"> 
                                <div class="upcoming-icon bg-primary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/calendar.png')}}" alt=""></div>
                                <h6>Réabonnements</h6>
                                <p>{{ reabonnements|length }}</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-6">
                            <div class="btn-light1-secondary b-r-10"> 
                                <div class="upcoming-box"> 
                                <div class="upcoming-icon bg-secondary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/check.png')}}" alt=""></div>
                                <h6>Migrations</h6>
                                <p>{{ migrations|length }}</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-6">
                            <div class="btn-light1-warning b-r-10"> 
                                <div class="upcoming-box mb-0"> 
                                <div class="upcoming-icon bg-warning"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/processing.png')}}" alt=""></div>
                                <h6>Comléments</h6>
                                <p>{{ complements|length }}</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-6">
                            <div class="btn-light1-tertiary b-r-10"> 
                                <div class="upcoming-box mb-0"> 
                                <div class="upcoming-icon bg-tertiary"> <img src="{{asset('canexp/assets/images/dashboard-2/svg-icon/total.png')}}" alt=""></div>
                                <h6>Recrutements</h6>
                                <p>{{ recrutements|length }}</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 proorder-md-1">  
                <div class="row"> 

                    <div class="col-xl-6 col-sm-6"> 
                        <div class="card">
                            <div class="card-body student-2">
                            <div class="d-flex gap-2 align-items-end"> 
                                <div class="flex-grow-1">
                                <h2>659</h2>
                                <p class="mb-0 text-truncate"> Total Teachers</p>
                                <div class="d-flex student-arrow text-truncate">
                                    <p class="mb-0 up-arrow bg-light-success"><i class="icon-arrow-up font-success"></i></p><span class="f-w-500 font-success">+27.02%</span>than last 4 Month
                                </div>
                                </div>
                                <div class="flex-shrink-0"><img src="../assets/images/dashboard-4/icon/teacher.png" alt=""></div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-sm-6"> 
                        <div class="card">
                            <div class="card-body student-4">
                            <div class="d-flex gap-2 align-items-end"> 
                                <div class="flex-grow-1">
                                <h2>1,984</h2>
                                <p class="mb-0 text-truncate"> Invoice Status</p>
                                <div class="d-flex student-arrow text-truncate">
                                    <p class="mb-0 up-arrow bg-light-danger"><i class="icon-arrow-down font-danger"></i></p><span class="f-w-500 font-danger">- 15.02%</span>than last 5 Month
                                </div>
                                </div>
                                <div class="flex-shrink-0"><img src="../assets/images/dashboard-4/icon/invoice.png" alt=""></div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12"> 
                        <div class="card">
                            <div class="card-header card-no-border pb-0">
                                <div class="header-top">
                                    <h4>Recent Réabonnements</h4>
                                </div>
                            </div>
                            <div class="card-body p-0 projects">
                                <div class="table-responsive theme-scrollbar">
                                    <table class="table display overflow-hidden" id="recent-product" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Références</th>
                                            <th>Formule</th>
                                            <th>Montant </th>
                                            <th>Statut</th>
                                            <th>Fin Réa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rea in reas %}
                                            <tr>
                                                <td><span class="badge badge-primary"> {{ rea.Reference }} </span></td>
                                                <td>{{ rea.Formule }}</td>
                                                <td>{{ rea.Montant }}</td>
                                                <td>
                                                    {% if rea.Statut == true %}
                                                        <span class="badge rounded-pill badge-success">Activé</span>
                                                    {% else %}
                                                        <span class="badge rounded-pill badge-danger">En cours</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ rea.FinRea ? rea.FinRea|date('Y-m-d') : '' }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="13">no records found</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-6 col-xl-6 box-col-6"> 
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <div class="header-top">
                            <h4>Statistiques des Services</h4>
                        </div>
                    </div>
                    <div class="card-body sales-product px-0 pb-0">
                        <div class="table-responsive theme-scrollbar">
                            <table class="table display" style="width:100%">
                                <thead>
                                    <tr>
                                    <th>Nom Service</th>
                                    <th>Semaine</th>
                                    <th>Mois</th>
                                    <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Réabonnements </td>
                                        <td> {{ rea7|length }} </td>
                                        <td> {{ rea30|length }} </td>
                                        <td> {{ reabonnements|length }} </td>
                                    </tr>
                                    <tr>
                                        <td> Compléments </td>
                                        <td> {{ com7|length }} </td>
                                        <td> {{ com30|length }} </td>
                                        <td> {{ complements|length }} </td>
                                    </tr>
                                    <tr>
                                        <td> Migrations </td>
                                        <td> {{ mig7|length }} </td>
                                        <td> {{ mig30|length }} </td>
                                        <td> {{ migrations|length }} </td>
                                    </tr>
                                    <tr>
                                        <td> Recrutements </td>
                                        <td> {{ rec7|length }} </td>
                                        <td> {{ rec30|length }} </td>
                                        <td> {{ recrutements|length }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-6 col-xl-6 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Table des recharges</h4>
                    </div>
                    <div class="table-responsive theme-scrollbar">
                        <table class="table">
                            <thead>
                            <tr class="border-bottom-primary">
                                <th scope="col">N°</th>
                                <th scope="col">Date</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Rechargé par</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% set counter = 0 %}
                                {% for recharge in recharges %}
                                    {% set counter = counter + 1 %}
                                    <tr class="border-bottom-secondary">
                                        <th scope="row">{{ counter }}</th>
                                        <td>{{ recharge.createdAt ?recharge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td><span class="badge badge-light-danger">{{ recharge.montant }}</span></td>
                                        <td>{{ recharge.admi.username }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">Pas d'enregistrement</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
{% endblock %}
