{% extends 'base.html.twig' %}

{% block title %} Statistique || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Rapports</li>
            <li class="breadcrumb-item f-w-400 active">Tableaux des Rapports</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">

              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Rapport d'activités</h4>
                  </div>
                  <div class="table-responsive theme-scrollbar">
                    <table class="table table-striped bg-primary">
                      <thead class="tbl-strip-thad-bdr">
                        <tr>
                          <th scope="col">OPERATIONS</th>
                          <th scope="col">Auj.</th>
                          <th scope="col">Semaine</th>
                          <th scope="col">Ce Mois</th>
                          <th scope="col">Montant</th>
                          <th scope="col">Ristoune</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Réabonnements</td>
                          <td>{{ rea|length }}</td>
                          <td>{{ rea7|length }}</td>
                          <td>{{ rea30|length }}</td>
                          <td>
                          {% set montant = 0 %}
                          {% for rea in rea30 %}
                            {% set montant = montant + rea.Montant %}
                          {% endfor %}
                          {{ montant }}
                          </td>
                          <td>
                            {% set rismontant = montant * 0.02 %}
                            {{ rismontant }}
                          </td>
                        </tr>
                        <tr>
                          <td>Recrutements</td>
                          <td> {{ rec|length }} </td>
                          <td> {{ rec7|length }} </td>
                          <td> {{ rec30|length }} </td>
                          <td>
                            {% set rmontant = 0 %}
                            {% for rec in rec30 %}
                              {% set rmontant = rmontant + rec.Montant %}
                            {% endfor %}
                            {{ rmontant }}
                          </td>
                          <td> 
                            {% set RisRec = rec30|length * 1000 %}
                            {{ RisRec }}
                          </td>
                        </tr>
                        <tr>
                          <td>Compléments</td>
                          <td> {{ com|length }} </td>
                          <td> {{ com7|length }} </td>
                          <td> {{ com30|length }} </td>
                          <td>
                            {% set cmontant = 0 %}
                            {% for com in com30 %}
                              {% set cmontant = cmontant + com.Montant %}
                            {% endfor %}
                            {{ cmontant }}
                          </td>
                          <td>
                            {% set riscmontant = cmontant * 0.02 %}
                            {{ riscmontant }}
                          </td>
                        </tr>
                        <tr>
                          <td>Migrations</td>
                          <td> {{ mig|length }} </td>
                          <td> {{ mig7|length }} </td>
                          <td> {{ mig30|length }} </td>
                          <td>
                            {% set mmontant = 0 %}
                            {% for mig in mig30 %}
                              {% set mmontant = mmontant + mig.Montant %}
                            {% endfor %}
                            {{ mmontant }}
                          </td>
                          <td>
                          {% set rismmontant = mmontant * 0.02 %}
                          {{ rismmontant }}
                          </td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>
                          {% set total = mig|length + com|length + rec|length + rea|length %}
                          {{ total }}
                          </td>
                          <td>
                          {% set total7 = mig7|length + com7|length + rec7|length + rea7|length %}
                          {{ total7 }}
                          </td>
                          <td>
                          {% set total30 = mig30|length + com30|length + rec30|length + rea30|length %}
                          {{ total30 }}
                          </td>
                          <td>
                          {% set totalMtn = mmontant + cmontant + rmontant + montant %}
                          {{ totalMtn }}
                          </td>
                          <td>
                          {% set totalRis = rismmontant + riscmontant + RisRec + rismontant %}
                          {{ totalRis }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
