<form method="post" action="{{ path('app_reabonnements_delete', {'id': reabonnement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reabonnement.id) }}">
    <button class="btn">Delete</button>
</form>
