{% extends 'base.html.twig' %}

{% block title %}Edit Reabonnements{% endblock %}

{% block body %}
    <h1>Edit Reabonnements</h1>

    {{ include('reabonnements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reabonnements_index') }}">back to list</a>

    {{ include('reabonnements/_delete_form.html.twig') }}
{% endblock %}
