{% extends 'base.html.twig' %}

{% block title %} Nouveau Réabonnement || {{ parent() }} {% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /* Text states (for js) */
        .hide {
            opacity: 0;
            top: calc(50% + 8em);
            display:none;
        }
        .show {
            opacity: 1;
            top: calc(50% + 6em);
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#CAT_Custom_20063195").change(function() {
                if ($("#otherSelect").is(":selected")) {
                $(".moreInfoShow").show();
                } else {
                $(".moreInfoShow").hide();
                }
            }).trigger('change');
        });
    </script>

    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-select2").select2({
                closeOnSelect: true
            });
        });

        var inputQuantity = [];
        $(function() {     
            $(".ndecodeur").on("keyup", function (e) {
                var $field = $(this),
                    val=this.value,
                    $thisIndex=parseInt($field.data("idx"),14); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantity[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                val=val.slice(0, 14);
                $field.val(val);
                }
                inputQuantity[$thisIndex]=val;
            });      
        });
        
        var inputQuantityTel = [];
        $(function() {
            $(".ntel").on("keyup", function (e) {
                var $field = $(this),
                val=this.value,
                $thisIndex=parseInt($field.data("idx"),11); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityTel[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                    val=val.slice(0, 11);
                    $field.val(val);
                }
                inputQuantityTel[$thisIndex]=val;
            });
        });

    </script>
    <script type="text/javascript">
        const formule = {
            access: 5000,
            evasion: 10000,
            access_plus: 15000,
            evasion_plus: 20000,
            tout_canal: 40000
        }
        const option = {
            option_charme: 6000,
            dstv_english_basic: 5000,
            dstv_english_plus: 13000
        }
        let currentFormuleMontant = 5000
        let currentOptionMontant = 0
        let currentNbrMoisFormule = 1
        let currentNbrMoisOption = 1
        let total = 0
        let total1 = currentFormuleMontant
        let total2 = 0

        let getFormule = document.querySelector(".formule")
        let getOption = document.querySelector(".option")
        let getNbrMoisFormule = document.querySelector(".nbrMoisFormule")
        let getNbrMoisOption = document.querySelector(".nbrMoisOption")
        let getTotalFormule = document.querySelector(".totalFormule")
        getTotalFormule.innerHTML = currentFormuleMontant
        {# getFormule.addEventListener("click", function(){
            alert("clique on formule select")
        }) #}
        getFormule.addEventListener("change", (e) => {
            console.log("formule :: ",e.target.value)
            if (e.target.value == "Access"){
                currentFormuleMontant = formule.access
            }
            else if (e.target.value == "Evasion"){
                currentFormuleMontant = formule.evasion
            }
            else if (e.target.value == "Access +"){
                currentFormuleMontant = formule.access_plus
            }
            else if (e.target.value == "Evasion +"){
                currentFormuleMontant = formule.evasion_plus
            }
            else if (e.target.value == "Tout Canal +"){
                currentFormuleMontant = formule.tout_canal
            }
            console.log("currentFormuleMontant : ", currentFormuleMontant)
            total1 = currentFormuleMontant
            getTotalFormule.innerHTML = total1 * currentNbrMoisFormule + total2
        })

        getOption.addEventListener("change", (e) => {
            console.log("option :: ",e.target.value)
            if (e.target.value == "Option CHARME"){
                currentOptionMontant = option.option_charme
            }
            else if (e.target.value == "DSTV ENGLISH BASIC"){
                currentOptionMontant = option.dstv_english_basic
            }
            else if (e.target.value == "DSTV ENGLISH PLUS"){
                currentOptionMontant = option.dstv_english_plus
            }
            console.log("currentOptionMontant : ", currentOptionMontant)
            total2 = currentOptionMontant
            getTotalFormule.innerHTML = total2 * currentNbrMoisOption + total1
        })

        getNbrMoisFormule.addEventListener("change", (e) => {
            currentNbrMoisFormule = e.target.value
            console.log("nbr mois formule : ", currentNbrMoisFormule)
            total1 = currentFormuleMontant * currentNbrMoisFormule
            total = total1 + total2
            getTotalFormule.innerHTML = total
        })

        getNbrMoisOption.addEventListener("change", (e) => {
            currentNbrMoisOption = e.target.value
            console.log("nbr mois option : ", currentNbrMoisOption)
            total2 = currentOptionMontant * currentNbrMoisOption
            total = total1 + total2
            getTotalFormule.innerHTML = total
        })

        {# if (total1>0 && total2>0){
            total = total1 + total2
            getTotalFormule.innerHTML = total
        } #}
    </script>
{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Réabonnement</li>
            <li class="breadcrumb-item f-w-400 active">New Réabonnement</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                <h4>Nouveau Réabonnement</h4>
                <p class="f-m-light mt-1">Priez prendre le soins de bien remplir le formulaire.</p>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="POST">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="ndecodeur">N° Décodeur</label>
                            <input class="form-control ndecodeur" id="ndecodeur" name="decodeur" type="number" min="0" max="99999999999999" maxlength="14" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="ntel">N° Téléphone</label>
                            <input class="form-control ntel" id="ntel" name="phone" type="tel" min="0" max="22999999999" maxlength="11" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="CAT_Custom_20063195">Choix Formule</label>
                            <select class="form-select formule" id="CAT_Custom_20063195" name="formule" required="" onchange="showHide(this)">
                                <option value="Access"> Access </option>
                                <option value="Evasion"> Evasion </option>
                                <option value="Access +"> Access + </option>
                                <option value="Evasion +"> Evasion + </option>
                                <option value="Tout Canal +"> Tout Canal + </option>
                            </select>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="Mois">Nbr de Mois</label>
                            <input class="form-control nbrMoisFormule" id="Mois" name="mois" type="number"  aria-label="Nbr de Mois" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="CAT_Custom_20063195">Choix Option</label>
                            <select class="form-select option" id="CAT_Custom_20063195" name="option" >
                                <option selected disabled value=""> Choix Option </option>
                                <option value="Option CHARME"> Option CHARME </option>
                                <option value="DSTV ENGLISH BASIC"> DSTV ENGLISH BASIC </option>
                                <option value="DSTV ENGLISH PLUS"> DSTV ENGLISH PLUS </option>
                            </select>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="nopt">Nbr de Mois</label>
                            <input class="form-control nbrMoisOption" id="nopt" name="nopt" type="number">
                        </div>
                        <div class="design-button">
                            <div class="btn bg-light-primary font-primary f-w-500">Estimation Prix</div>
                            <div class="btn bg-light-danger font-secondary f-w-500 totalFormule">0</div>
                        </div>

                        <div class="col-12"> 
                            <label class="form-label" for="exampleFormControlTextarea1">Observation</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="observation" rows="3"></textarea>
                        </div>

                        <div class="col-12"> 
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" role="switch" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Êtes-vous sûr que les informations ci-dessus sont vraies ?</label>
                            </div>
                        </div>
                        <input type="hidden" name="Reatoken" value="{{ csrf_token('add-rea') }}">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}
