{% extends 'base-admin.html.twig' %}

{% block title %} Liste des Réabonnements || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Réabonnements</li>
            <li class="breadcrumb-item f-w-400 active">Liste</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Liste des Réabonnements</h4> <br />
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Référence</th>
                            <th>Téléphone</th>
                            <th>Mois/Formule</th>
                            <th>Fin Réa</th>
                            <th>Montant</th>
                            <th>Statut</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for reabonnement in reabonnements %}
                                <tr>
                                    <td>{{ reabonnement.updatedAt ? reabonnement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td><span class="badge badge-primary"> {{ reabonnement.Reference }} </span></td>
                                    <td>{{ reabonnement.Phone }}</td>
                                    <td>{{ reabonnement.NbrMois }} mois {{ reabonnement.Formule }}</td>
                                    <td>{{ reabonnement.FinRea ? reabonnement.FinRea|date('Y-m-d') : '' }}</td>
                                    <td>{{ reabonnement.Montant }}</td>
                                    <td>
                                        {% if reabonnement.Statut == true %}
                                            <span class="badge rounded-pill badge-success">Activé</span>
                                        {% else %}
                                            <span class="badge rounded-pill badge-danger">En cours</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
