{% extends 'base.html.twig' %}

{% block title %}Reabonnements{% endblock %}

{% block body %}
    <h1>Reabonnements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reabonnement.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ reabonnement.Reference }}</td>
            </tr>
            <tr>
                <th>NumAbonne</th>
                <td>{{ reabonnement.NumAbonne }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reabonnement.Phone }}</td>
            </tr>
            <tr>
                <th>NbrMois</th>
                <td>{{ reabonnement.NbrMois }}</td>
            </tr>
            <tr>
                <th>Formule</th>
                <td>{{ reabonnement.Formule }}</td>
            </tr>
            <tr>
                <th>Upgrade</th>
                <td>{{ reabonnement.upgrade }}</td>
            </tr>
            <tr>
                <th>OptionF</th>
                <td>{{ reabonnement.OptionF }}</td>
            </tr>
            <tr>
                <th>NbrMoisOF</th>
                <td>{{ reabonnement.NbrMoisOF }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ reabonnement.Statut }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ reabonnement.Observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reabonnements_index') }}">back to list</a>

    <a href="{{ path('app_reabonnements_edit', {'id': reabonnement.id}) }}">edit</a>

    {{ include('reabonnements/_delete_form.html.twig') }}
{% endblock %}
