<form method="post" action="{{ path('app_reabonnements_activation', {'id': reabonnement.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir valider cet réabonnement ?');">
    <input type="hidden" name="_reatoken" value="{{ csrf_token('reaactivation' ~ reabonnement.id) }}">
    <button class="btn">Valider</button>
</form>
