{% extends 'base-admin.html.twig' %}

{% block title %} Ajout Solde ||{{ parent() }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block body %}
  <!-- Modal Solde-->
  <div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content dark-sign-up">
        <div class="modal-body social-profile text-start">
          <div class="modal-toggle-wrapper">
            <h4 class="text-dark">Ajout de Solde</h4>
            <p>Veuillez vérifier les informations saisies avant de confirmer.</p>
            <form class="row g-3" method="post">
              <div class="col-md-12">
                <label class="form-label" for="entran">Sociéte</label>
                <select class="form-select js-select-single" id="entran" name="id">
                  {% for societe in societes %}
                      <option value="{{ societe.id }}"> {{ societe.Nom }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-12">
                <label class="form-label" for="inputer">Montant</label>
                <input class="form-control" id="inputer" type="float" name="solde" placeholder="Entrer le montant à recharger">
              </div>
              <input type="hidden" name="Stoken" value="{{ csrf_token('add-solde') }}">
              <div class="col-12">
                <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Recharger</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Solde-->
{% endblock %}
