{% extends 'base-admin.html.twig' %}

{% block title %} Ajout Stock ||{{ parent() }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      var i = 1;
      var length;

      $("#add").click(function(){
        i++;
        $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="decodeur[]" placeholder="Numéro Décodeur" class="form-control name_list ndecodeur" min="0" max="99999999999999" maxlength="14"/></td><td><button type="button" name="Supprimer" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');  
      });

      $(document).on('click', '.btn_remove', function(){  
        var button_id = $(this).attr("id");     
        $('#row'+button_id+'').remove();  
      });
    });
  </script>
  <script type="text/javascript">
        var inputQuantityOld = [];
        $(function() {
            $(".ndecodeur").on("keyup", function (e) {
                var $field = $(this),
                    val=this.value,
                    $thisIndex=parseInt($field.data("idx"),14); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityOld[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                val=val.slice(0, 14);
                $field.val(val);
                }
                inputQuantityOld[$thisIndex]=val;
            });
        });
    </script>
{% endblock %}

{% block body %}
  <!-- Modal Solde-->
  <div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content dark-sign-up">
        <div class="modal-body social-profile text-start">
          <div class="modal-toggle-wrapper">
            <h4 class="text-dark">Ajout de stock</h4>
            <p>Veuillez vérifier les informations saisies avant de confirmer.</p>
            <form class="row g-3" method="post">
              <div class="col-md-6">
                <label class="form-label" for="entran">Sociéte</label>
                <select class="form-select js-select-single" id="entran" name="id">
                  {% for societe in societes %}
                      <option value="{{ societe.id }}"> {{ societe.Nom }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="inputer">Nombre de Parabole</label>
                <input class="form-control" id="inputer" type="number" name="parabole" placeholder="Entrer le nombre de parabole" required>
              </div>
              <table class="table col-md-6" id="dynamic_field">
                <tr>
                  <td><input type="text" name="decodeur[]" placeholder="Numéro du décodeur" class="form-control name_list ndecodeur" min="0" max="99999999999999" maxlength="14" /></td>
                  <td><button type="button" name="add" id="add" class="btn btn-primary">Add</button></td>  
                </tr>
              </table>
              <input type="hidden" name="Stocktoken" value="{{ csrf_token('add-stock') }}">
              <div class="col-6">
                <button class="btn btn-primary" type="submit">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Solde-->
{% endblock %}
