{% extends 'base-admin.html.twig' %}

{% block title %} Liste des Recharges || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Recharges</li>
            <li class="breadcrumb-item f-w-400 active">Liste des Recharges</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Liste des Recharges</h4> <br />
                    <span> <a href="{{ path('app_ajsolde') }}"> <button class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter Solde </button></a></span>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Partenaire</th>
                            <th>Societe</th>
                            <th>Ajouter Par</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for recharge in recharges %}
                                <tr>
                                    <td>{{ recharge.createdAt ?recharge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td><span class="badge badge-light-danger">{{ recharge.montant }}</span></td>
                                    <td>{{ recharge.user.Nom }} {{ recharge.user.Prenoms }}</td>
                                    <td>{{ recharge.user.societes.Nom }}</td>
                                    <td>{{ recharge.admi.username }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Pas d'enregistrement de recharges</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
