{% extends 'base-admin.html.twig' %}

{% block title %} Partenaire page {% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Partenaires</li>
            <li class="breadcrumb-item f-w-400 active">Détails</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <!-- user profile first-style start-->
            <div class="col-sm-12">
                <div class="card hovercard text-center">
                    <div class="cardheader"></div>
                    <div class="user-image">
                        <div class="avatar"><img alt="" src="https://admin.pixelstrap.net/mofi/assets/images/other-images/bg-profile.png"></div>
                        <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
                    </div>
                    <div class="info">
                        <div class="row">
                        <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ttl-info text-start">
                                    <h6><i class="fa fa-envelope"></i></h6><span>{{ user.Email }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ttl-info text-start">
                                    <h6><i class="fa fa-mobile-phone"></i></h6><span>{{ user.Phone }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                            <div class="user-designation">
                            <div class="title"><a target="_blank" href="">{{ user.Prenoms }} {{ user.Nom }}</a></div>
                            <div class="desc">{{ user.username }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="ttl-info text-start">
                                <h6><i class="fa fa-scribd"></i></h6><span>{{ user.Sexe ? 'Homme' : 'Femme' }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ttl-info text-start">
                                <h6><i class="fa fa-location-arrow"></i></h6><span>{{ user.Adresse }}</span>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="social-media">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user profile first-style end-->
        </div>
    </div>3
</div>
<!-- Container-fluid Ends-->
    {# <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }} #}
{% endblock %}
