{% extends 'base-admin.html.twig' %}

{% block title %} Statistique || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Statistique</li>
            <li class="breadcrumb-item f-w-400 active">Tableaux des statistiques</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Tableaux des statistiques</h4> <br />
                  </div>
                  <div class="card-body">
                    <div class="dt-ext table-responsive theme-scrollbar">
                      <table class="display" id="export-button">
                        <thead>
                          <tr>
                            <th colspan="1">OPERATIONS</th>
                            <th colspan="2">Réabonnements</th>
                            <th colspan="2">Recruments</th>
                            <th colspan="2">Compléments</th>
                            <th colspan="2">Migrations</th>
                            <th colspan="2" class="bg-primary">Total</th>
                            <th colspan="2" class="bg-warning">Commission</th>
                          </tr>
                          <tr>
                            <th>Distributeurs</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th class="bg-primary">Nbre</th>
                            <th class="bg-primary">Mtn.</th>
                            <th class="bg-warning">Gain</th>
                            <th class="bg-warning">Perçu</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% set reamnt = 0 %}
                          {% set recmnt = 0 %}
                          {% set migmnt = 0 %}
                          {% set commnt = 0 %}
                          {% set commi = 0 %}
                          {% set totalNbre = 0 %}
                          {% set total = 0 %}
                          {% set percu = 0 %}

                          {% for user in users %}
                            {% set reamnt = 0 %}
                            {% set recmnt = 0 %}
                            {% set migmnt = 0 %}
                            {% set commnt = 0 %}
                            {% set commi = 0 %}
                            {% set totalNbre = 0 %}
                            {% set total = 0 %}
                            {% set percu = 0 %}
                            <tr>
                              <td> {{ user.Nom }} {{ user.Prenoms }} </td>
                              <td>{{ user.reabonnements|length }}</td>
                              <td> 
                                {% for rea in user.reabonnements %}
                                  {% set reamnt = reamnt + rea.Montant %}
                                {% endfor %}
                                {{ reamnt }}
                              </td>
                              <td>{{ user.recrutements|length }}</td>
                              <td> 
                                {% for rec in user.recrutements %}
                                  {% set recmnt = recmnt + rec.Montant %}
                                {% endfor %}
                                {{ recmnt }}
                              </td>
                              <td>{{ user.complements|length }}</td>
                              <td> 
                                {% for com in user.complements %}
                                  {% set commnt = commnt + com.Montant %}
                                {% endfor %}
                                {{ commnt }}
                              </td>
                              <td>{{ user.migrations|length }}</td>
                              <td> 
                                {% for mig in user.migrations %}
                                  {% set migmnt = migmnt + mig.Montant %}
                                {% endfor %}
                                {{ migmnt }}
                              </td>
                              <td class="bg-primary">
                                {% set totalNbre = user.migrations|length + user.complements|length + user.recrutements|length + user.reabonnements|length %}
                                {{ totalNbre }}
                              </td>
                              <td class="bg-primary"> 
                                {% set total = migmnt + reamnt + recmnt + commnt %}
                                {{ total }}
                              </td>
                              <td class="bg-warning">
                                {% set total = migmnt + reamnt + recmnt + commnt %}
                                {% set total = total * 0.02 %}
                                {{ total }}
                              </td>
                              <td class="bg-warning"> 
                                {% for commiss in user.commissions %}
                                  {% set commi = commi + commiss.montant %}
                                {% endfor %}
                                {% set commi = commi - user.commission %}
                                {{ commi }}
                              </td>
                            </tr>
                          {% else %}
                            <tr>
                              <td colspan="13">Pas d'enregistrement</td>
                            </tr>
                          {% endfor %}
                          
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Distributeurs</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th>Nbre</th>
                            <th>Mtn.</th>
                            <th class="bg-primary">Nbre</th>
                            <th class="bg-primary">Mtn.</th>
                            <th class="bg-warning">Gain</th>
                            <th class="bg-warning">Perçu</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
