{% extends 'base-admin.html.twig' %}

{% block title %} Liste des Stocks || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Stocks</li>
            <li class="breadcrumb-item f-w-400 active">Liste des Stocks</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Liste des Stocks</h4> <br />
                    <span> <a href="{{ path('app_stock_ajout') }}"> <button class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter Stock </button></a></span>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Société</th>
                            <th>Nom & Prénoms</th>
                            <th>Numéro Décodeur</th>
                            <th>Parabole</th>
                            <th>Ajouter Par</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <td>{{ stock.updatedAt ? stock.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td><span class="badge badge-primary"> {{ stock.societe.Nom }} </span></td>
                                    <td>
                                      {% for us in stock.societe.user %}
                                        {{ us.Nom }} {{ us.Prenoms }}
                                      {% endfor %}
                                    </td>
                                    <td>
                                    {% for decodeur in stock.decodeurs %}
                                      {% if decodeur.statut == true %}
                                        <span class="badge badge-light-success mt-1">{{ decodeur.numero }}</span> <br /> <br />
                                      {% else %}
                                        <span class="badge badge-light-danger  mt-1">{{ decodeur.numero }}</span> <br />
                                      {% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>{{ stock.parabole }}</td>
                                    <td>{{ stock.admi.username }}</td>
                                    <td>
                                      <ul class="action"> 
                                        <li class="edit"><button><a href="#"><i class="icon-eye"></i></a></button></li>
                                      </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Pas d'enregistrement de stock</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
