<form method="post" action="{{ path('app_complements_delete', {'id': complement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ complement.id) }}">
    <button class="btn">Delete</button>
</form>
