{% extends 'base.html.twig' %}

{% block title %}Edit Complements{% endblock %}

{% block body %}
    <h1>Edit Complements</h1>

    {{ include('complements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_complements_index') }}">back to list</a>

    {{ include('complements/_delete_form.html.twig') }}
{% endblock %}
