{% extends 'base.html.twig' %}

{% block title %}Complements{% endblock %}

{% block body %}
    <h1>Complements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ complement.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ complement.Reference }}</td>
            </tr>
            <tr>
                <th>NumAbonne</th>
                <td>{{ complement.NumAbonne }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ complement.Phone }}</td>
            </tr>
            <tr>
                <th>OldFormule</th>
                <td>{{ complement.OldFormule }}</td>
            </tr>
            <tr>
                <th>Formule</th>
                <td>{{ complement.Formule }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ complement.Observation }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ complement.Statut }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ complement.createdAt ? complement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ complement.updatedAt ? complement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_complements_index') }}">back to list</a>

    <a href="{{ path('app_complements_edit', {'id': complement.id}) }}">edit</a>

    {{ include('complements/_delete_form.html.twig') }}
{% endblock %}
