<form method="post" action="{{ path('app_migrations_delete', {'id': migration.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ migration.id) }}">
    <button class="btn">Delete</button>
</form>
