{% extends 'base.html.twig' %}

{% block title %}Edit Migrations{% endblock %}

{% block body %}
    <h1>Edit Migrations</h1>

    {{ include('migrations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_migrations_index') }}">back to list</a>

    {{ include('migrations/_delete_form.html.twig') }}
{% endblock %}
