{% extends 'base.html.twig' %}

{% block title %} Liste des Migrations || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Migrations</li>
            <li class="breadcrumb-item f-w-400 active">Liste</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Liste des Migrations</h4> <br />
                    <span> <a href="{{ path('app_migrations_new') }}"> 
                    <button class="btn btn-primary"> <i class="fa fa-plus"></i> Nouvelle Migration </button></a></span>
                  </div>
                  <div class="card-body">
                    <div class="dt-ext table-responsive theme-scrollbar">
                      <table class="display" id="show-hidden-row">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Référence</th>
                            <th>Téléphone</th>
                            <th>Ancien Décodeur</th>
                            <th>Montant</th>
                            <th>Statut</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for migration in migrations %}
                            <tr>
                              <td>{{ migration.updatedAt ? migration.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                              <td><span class="badge badge-primary"> {{ migration.Reference }} </span></td>
                              <td>{{ migration.Phone }}</td>
                              <td>{{ migration.OldDecodeur }} </td>
                              <td>{{ migration.Montant }}</td>
                              <td>
                                  {% if migration.Statut == true %}
                                      <span class="badge rounded-pill badge-success">Activé</span>
                                  {% else %}
                                      <span class="badge rounded-pill badge-danger">En cours</span>
                                  {% endif %}
                              </td>
                            </tr>
                          {% else %}
                              <tr>
                                  <td colspan="12"> Pas d'enregistrement </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock %}
