{% extends 'base.html.twig' %}

{% block title %} Nouvelle Migration || {{ parent() }} {% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /* Text states (for js) */
        .hide {
            opacity: 0;
            top: calc(50% + 8em);
            display:none;
        }
        .show {
            opacity: 1;
            top: calc(50% + 6em);
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
       var inputQuantityNew = [];
        $(function() {
            $(".newdecodeur").on("keyup", function (e) {
                var $field = $(this),
                    val=this.value,
                    $thisIndex=parseInt($field.data("idx"),14); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityNew[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                val=val.slice(0, 14);
                $field.val(val);
                }
                inputQuantityNew[$thisIndex]=val;
            });
        });

        var inputQuantityOld = [];
        $(function() {
            $(".olddecodeur").on("keyup", function (e) {
                var $field = $(this),
                    val=this.value,
                    $thisIndex=parseInt($field.data("idx"),14); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityOld[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                val=val.slice(0, 14);
                $field.val(val);
                }
                inputQuantityOld[$thisIndex]=val;
            });
        });
        
        var inputQuantityTel = [];
        $(function() {
            $(".ntel").on("keyup", function (e) {
                var $field = $(this),
                val=this.value,
                $thisIndex=parseInt($field.data("idx"),11); 
                if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
                    this.value = inputQuantityTel[$thisIndex];
                    return;
                } 
                if (val.length > Number($field.attr("maxlength"))) {
                    val=val.slice(0, 11);
                    $field.val(val);
                }
                inputQuantityTel[$thisIndex]=val;
            });
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $("#CAT_Custom_20063195").change(function() {
                if ($("#otherSelect").is(":selected")) {
                $(".moreInfoShow").show();
                } else {
                $(".moreInfoShow").hide();
                }
            }).trigger('change');
        });
    </script>

{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
                <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
                <li class="breadcrumb-item f-w-400">Migrations</li>
                <li class="breadcrumb-item f-w-400 active">New Migration</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                <h4>Nouveau Migration</h4>
                <p class="f-m-light mt-1">Priez prendre le soins de bien remplir le formulaire.</p>
                </div>
                <div class="card-body custom-input">
                    <form class="row g-3" method="POST">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="nom">Nom Client</label>
                            <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom Client" aria-label="Nom" required>
                        </div>
                        
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4"> 
                            <label class="form-label" for="prenom">Prénom(s) Clients</label>
                            <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Prénom(s) Clients" aria-label="Prénom(s) Clients" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="ntel">N° Téléphone</label>
                            <input class="form-control ntel" id="ntel" name="phone" type="tel" placeholder="22900000000" min="0" max="22999999999" maxlength="11" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="quartier">Quartier</label>
                            <input class="form-control" id="quartier" name="quartier" type="text" placeholder="Quartier" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="olddecodeur">Ancien Décodeur</label>
                            <input class="form-control olddecodeur" id="olddecodeur" name="Adecodeur" type="number" min="0" max="99999999999999" maxlength="14" required>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <label class="form-label" for="newdecodeur">Nouveau Décodeur</label>
                            <input class="form-control newdecodeur" id="newdecodeur" name="Ndecodeur" type="number" min="0" max="99999999999999" maxlength="14" required>
                        </div>

                        <div class="design-button">
                            <div class="btn bg-light-primary font-primary f-w-500">Estimation Prix</div>
                            <div class="btn bg-light-danger font-secondary f-w-500">1000 F</div>
                        </div>

                        <div class="col-12"> 
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" role="switch" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Êtes-vous sûr que les informations ci-dessus sont vraies ?</label>
                            </div>
                        </div>
                        <input type="hidden" name="Migtoken" value="{{ csrf_token('add-mig') }}">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}
