{% extends 'base.html.twig' %}

{% block title %}Migrations{% endblock %}

{% block body %}
    <h1>Migrations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ migration.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ migration.Reference }}</td>
            </tr>
            <tr>
                <th>NumAbonne</th>
                <td>{{ migration.NumAbonne }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ migration.Phone }}</td>
            </tr>
            <tr>
                <th>OldDecodeur</th>
                <td>{{ migration.OldDecodeur }}</td>
            </tr>
            <tr>
                <th>FinRea</th>
                <td>{{ migration.FinRea ? migration.FinRea|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ migration.NomClient }}</td>
            </tr>
            <tr>
                <th>PrenomClient</th>
                <td>{{ migration.PrenomClient }}</td>
            </tr>
            <tr>
                <th>AdresseClient</th>
                <td>{{ migration.AdresseClient }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ migration.Statut }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ migration.createdAt ? migration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ migration.updatedAt ? migration.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_migrations_index') }}">back to list</a>

    <a href="{{ path('app_migrations_edit', {'id': migration.id}) }}">edit</a>

    {{ include('migrations/_delete_form.html.twig') }}
{% endblock %}
