<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Dashboard super flexible, powerful, clean &amp; modern responsive">
        <meta name="keywords" content="admin, admin template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="Saphir's Digit">
        <link rel="icon" href="{{asset('canexp/assets/images/favicon.png')}}" type="image/x-icon">
        <link rel="shortcut icon" href="{{asset('canexp/assets/images/favicon.png')}}" type="image/x-icon">
        <title>{% block title %} CANAAN EXPRESS SERVICE - The best of the field {% endblock %}</title>
        <!-- Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/font-awesome.css')}}">
        <!-- ico-font-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/icofont.css')}}">
        <!-- Themify icon-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/themify.css')}}">
        <!-- Flag icon-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/flag-icon.css')}}">
        <!-- Feather icon-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/feather-icon.css')}}">
        <!-- Plugins css start-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/slick.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/slick-theme.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/scrollbar.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/animate.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/datatables.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/date-range-picker/flatpickr.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/intltelinput.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/tagify.css')}}">
        <!-- Plugins css Ends-->
        <!-- Bootstrap css-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/vendors/bootstrap.css')}}">
        <!-- App css-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/style.css')}}">
        <link id="color" rel="stylesheet" href="{{asset('canexp/assets/css/color-1.css')}}" media="screen">
        <!-- Responsive css-->
        <link rel="stylesheet" type="text/css" href="{{asset('canexp/assets/css/responsive.css')}}">

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        {% block stylesheets %}
            
        {% endblock %}
    </head>
  <body> 
    <div class="loader-wrapper"> 
      <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <div class="loader-inner-1"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-header row">
        <div class="header-logo-wrapper col-auto">
          <div class="logo-wrapper"><a href="{{path('app_orangep')}}"><img class="img-fluid for-light" src="{{asset('canexp/assets/images/logo/logo.png')}}" width="100" height="36"  alt=""/><img class="img-fluid for-dark" src="{{asset('canexp/assets/images/logo/logo_light.png')}}" width="100" height="36" alt=""/></a></div>
        </div>
        {% block navline %}
          <div class="col-4 col-xl-4 page-title">
            <h4 class="f-w-700">Default dashboard</h4>
            <nav>
              <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
                <li class="breadcrumb-item"><a href="{{path('app_orangep')}}"> <i data-feather="home"> </i></a></li>
                <li class="breadcrumb-item f-w-400">Dashboard</li>
                <li class="breadcrumb-item f-w-400 active">Default</li>
              </ol>
            </nav>
          </div>
        {% endblock %}
        
        <!-- Page Header Start-->
        <div class="header-wrapper col m-0">
          <div class="row">
            <div class="header-logo-wrapper col-auto p-0">
              <div class="logo-wrapper"><a href="{{path('app_orangep')}}"><img class="img-fluid" src="{{asset('canexp/assets/images/logo/logo.png')}}" width="100" height="36"  alt=""></a></div>
              <div class="toggle-sidebar">
                <svg class="stroke-icon sidebar-toggle status_toggle middle">
                  <use href="'canexp/assets/svg/icon-sprite.svg#toggle-icon"></use>
                </svg>
              </div>
            </div>
            <div class="nav-right col-xxl-8 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
              <ul class="nav-menus">
                {% if is_granted('ROLE_ADMIN') %}
                  <li class="onhover-dropdown">
                    <div class="notification-box">
                      <i class="icon-server"></i>
                    </div>
                    <div class="onhover-show-div notification-dropdown">
                      <h5 class="f-18 f-w-600 mb-0 dropdown-title">Bookmark </h5>
                      <ul class="bookmark-dropdown">
                        <li>
                          <div class="row">
                            <div class="col-4 text-center">
                              <div class="bookmark-content">
                                <div class="bookmark-icon bg-light-primary"><i class="stroke-primary" data-feather="file-text"></i></div><a href="{{path('app_ajsolde')}}" ><span class="font-primary">Soldes</span></a>
                              </div>
                            </div>
                            <div class="col-4 text-center">
                              <div class="bookmark-content">
                                <div class="bookmark-icon bg-light-secondary"><i class="stroke-secondary" data-feather="user"></i></div><a href="{{path('app_users_index')}}"><span class="font-secondary">Users</span></a>
                              </div>
                            </div>
                            <div class="col-4 text-center">
                              <div class="bookmark-content">
                                <div class="bookmark-icon bg-light-warning"><a href="{{path('app_stock_liste')}}"><i class="stroke-warning" data-feather="server"></i></a></div><a href="{{path('app_stock_liste')}}"><span class="font-warning">Stocks</span></a>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="onhover-dropdown">
                    <i class="icon-server"></i>
                    <div class="onhover-show-div bookmark-flip">
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="front">
                            <h5 class="f-18 f-w-600 mb-0 dropdown-title">Bookmark</h5>
                            <ul class="bookmark-dropdown">
                              <li>
                                <div class="row">
                                  <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                      <div class="bookmark-icon bg-light-primary"><i class="stroke-primary" data-feather="file-text"></i></div><a href="{{path('app_ajsolde')}}" ><span class="font-primary">Soldes</span></a>
                                    </div>
                                  </div>
                                  <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                      <div class="bookmark-icon bg-light-secondary"><i class="stroke-secondary" data-feather="user"></i></div><a href="{{path('app_users_index')}}"><span class="font-secondary">Users</span></a>
                                    </div>
                                  </div>
                                  <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                      <div class="bookmark-icon bg-light-warning"><i class="stroke-warning" data-feather="server"></i></div><a href="{{path('app_stock_liste')}}"><span class="font-warning">Stocks</span></a>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}
                <li>
                  <div class="mode">
                    <i class="icon-shine"></i>
                  </div>
                </li>
                <li class="profile-nav onhover-dropdown px-0 py-0">
                  <div class="d-flex profile-media align-items-center">
                    <img class="img-30" src="{{asset('canexp/assets/images/dashboard/profile.png')}}" alt="">
                    <div class="flex-grow-1"><span>{{ app.user.Prenoms }} {{ app.user.Nom}}</span>
                      <p class="mb-0 font-outfit"> {{app.user.username}} </p>
                    </div>
                  </div>
                  <ul class="profile-dropdown onhover-show-div">
                    <li><a href="{{ path('app_ausers_show', {'id': app.user.id}) }}"><i data-feather="user"></i><span>Profil</span></a></li>
                    <li><a href="{{ path('app_users_acpwd', {'id': app.user.id}) }}"><i data-feather="settings"></i><span>Changer Password</span></a></li>
                    <li><a href="{{path('app_logout')}}"><i data-feather="log-in"> </i><span>Déconnexion</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Page Header Ends -->
      </div>
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper" data-layout="stroke-svg">
          <div>
            <div class="logo-wrapper"><a href="{{path('app_orangep')}}">
              <img class="img-fluid" src="{{asset('canexp/assets/images/logo/logo_light.png')}}" width="100" height="36" alt=""></a>
              <div class="back-btn"><i class="fa fa-angle-left"></i></div>
              <div class="toggle-sidebar">
                <svg class="stroke-icon sidebar-toggle status_toggle middle">
                  <use href="canexp/assets/svg/icon-sprite.svg#toggle-icon"></use>
                </svg>
                <svg class="fill-icon sidebar-toggle status_toggle middle">
                  <use href="canexp/assets/svg/icon-sprite.svg#fill-toggle-icon"></use>
                </svg>
              </div>
            </div>
            <div class="logo-icon-wrapper"><a href="{{path('app_orangep')}}"><img class="img-fluid" src="{{asset('canexp/assets/images/logo/logo-icon.png')}}" width="36" height="36"  alt=""></a></div>
            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="{{path('app_orangep')}}"><img class="img-fluid" src="{{asset('canexp/assets/images/logo/logo-icon.png')}}" width="36" height="36"  alt=""></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>
                  <li class="pin-title sidebar-main-title">
                    <div> 
                      <h6>Pinned</h6>
                    </div>
                  </li>
                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="lan-1">General</h6>
                    </div>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="{{path('app_orangep')}}">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-home"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-home"></use>
                      </svg><span class="lan-3">Dashboard</span></a>
                  </li>
                  
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                    <svg class="stroke-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#stroke-user"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#fill-user"></use>
                    </svg><span>Réabonnements</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{{path('app_rea_liste')}}">Réabonnements</a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                      <li><a href="{{path('app_reabonnements_active')}}">Réabonnements activé</a></li>
                    </ul>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                    <svg class="stroke-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#stroke-user"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#fill-user"></use>
                    </svg><span>Migrations</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{{path('app_migrations_encours')}}">Migration en cours</a></li>
                      <li><a href="{{path('app_migrations_active')}}">Migration activé</a></li>
                    </ul>
                  </li>

                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                    <svg class="stroke-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#stroke-user"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#fill-user"></use>
                    </svg><span>Compléments</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{{path('app_complements_encours')}}">Complément en cours</a></li>
                      <li><a href="{{path('app_complements_active')}}">Complément activés</a></li>
                    </ul>
                  </li>

                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                    <svg class="stroke-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#stroke-user"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="canexp/assets/svg/icon-sprite.svg#fill-user"></use>
                    </svg><span>Recrutements</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{{path('app_recrutements_encours')}}">Recrutement en cours</a></li>
                      <li><a href="{{path('app_recrutements_active')}}">Recrutement activés</a></li>
                    </ul>
                  </li>

                  <li class="sidebar-main-title">
                    <div>
                      <h6>Divers</h6>
                    </div>
                  </li>

                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="{{path('app_statistique')}}">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-widget"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-widget"></use>
                      </svg><span>Statistique</span></a>
                  </li>

                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="{{path('app_rapports')}}">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-widget"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-widget"></use>
                      </svg><span>Rapports</span></a>
                  </li>

                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="{{path('app_stock_liste')}}">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-widget"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-widget"></use>
                      </svg><span>Stocks</span></a>
                  </li>
                  
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="{{path('app_recharges')}}">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-widget"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-widget"></use>
                      </svg><span>Recharges</span></a>
                  </li>
                  {% endif %}
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                      <svg class="stroke-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#stroke-user"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="canexp/assets/svg/icon-sprite.svg#fill-user"></use>
                      </svg><span>Utilisateurs</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{{path('app_users_new')}}">Ajout Utilisateur</a></li>
                      <li><a href="{{path('app_users_index')}}">Liste Utilisateur</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
              <div class="card-body">
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
                  <p>{{ message }}</p>
                  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
            {% endfor %}
          {% endfor %}

          <!-- Container-fluid starts-->
          {% block body %}{% endblock %}
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 footer-copyright d-flex flex-wrap align-items-center justify-content-between">
                <p class="mb-0 f-w-600">Copyright 2024 © CANAAN EXPRESS by Saphir's Digit </p>
                <p class="mb-0 f-w-600">Hand crafted & made with
                  <svg class="footer-icon">
                    <use href="canexp/assets/svg/icon-sprite.svg#footer-heart"> </use>
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{{asset('canexp/assets/js/jquery.min.js')}}"></script>
    <!-- Bootstrap js-->
    <script src="{{asset('canexp/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <!-- feather icon js-->
    <script src="{{asset('canexp/assets/js/icons/feather-icon/feather.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/icons/feather-icon/feather-icon.js')}}"></script>
    <!-- scrollbar js-->
    <script src="{{asset('canexp/assets/js/scrollbar/simplebar.js')}}"></script>
    <script src="{{asset('canexp/assets/js/scrollbar/custom.js')}}"></script>
    <!-- Sidebar jquery-->
    <script src="{{asset('canexp/assets/js/config.js')}}"></script>
    <!-- Plugins JS start-->
    <script src="{{asset('canexp/assets/js/sidebar-menu.js')}}"></script>
    <script src="{{asset('canexp/assets/js/sidebar-pin.js')}}"></script>
    <script src="{{asset('canexp/assets/js/slick/slick.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/slick/slick.js')}}"></script>
    <script src="{{asset('canexp/assets/js/header-slick.js')}}"></script>
    <script src="{{asset('canexp/assets/js/chart/apex-chart/apex-chart.js')}}"></script>
    <script src="{{asset('canexp/assets/js/chart/apex-chart/stock-prices.js')}}"></script>
    <script src="{{asset('canexp/assets/js/chart/apex-chart/moment.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/notify/bootstrap-notify.min.js')}}"></script>
    <!-- calendar js-->
    <script src="{{asset('canexp/assets/js/dashboard/default.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatables/datatable.custom.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatables/datatable.custom1.js')}}"></script>

    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/jszip.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/buttons.colVis.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/pdfmake.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/vfs_fonts.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.select.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/buttons.html5.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/buttons.print.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/dataTables.scroller.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datatable/datatable-extension/custom.js')}}"></script>
    <script src="{{asset('canexp/assets/js/tooltip-init.js')}}"></script>

    <script src="{{asset('canexp/assets/js/datepicker/date-range-picker/moment.min.js')}}"></script>
    <script src="{{asset('canexp/assets/js/datepicker/date-range-picker/datepicker-range-custom.js')}}"></script>
    <script src="{{asset('canexp/assets/js/typeahead/handlebars.js')}}"></script>
    <script src="{{asset('canexp/assets/js/typeahead/typeahead.bundle.js')}}"></script>
    <script src="{{asset('canexp/assets/js/typeahead/typeahead.custom.js')}}"></script>
    <script src="{{asset('canexp/assets/js/typeahead-search/handlebars.js')}}"></script>
    <script src="{{asset('canexp/assets/js/typeahead-search/typeahead-custom.js')}}"></script>
    <script src="{{asset('canexp/assets/js/height-equal.js')}}"></script>
    <script src="{{asset('canexp/assets/js/animation/wow/wow.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{asset('canexp/assets/js/script.js')}}"></script>
    {# <script src="{{asset('canexp/assets/js/theme-customizer/customizer.js')}}"></script> #}
    <!-- Plugin used-->
    <script>new WOW().init();</script>
    <script type="text/javascript">

      $(document).ready(function() {
          $(".js-select-single").select2({});
      });

    </script>
      {% block javascripts %}
          
      {% endblock %}
  </body>
</html>