{% extends 'base-admin.html.twig' %}

{% block title %} Liste des Partenaires || {{ parent() }}{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Partenaires</li>
            <li class="breadcrumb-item f-w-400 active">Liste</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <!-- Zero Configuration  Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Liste des Partenaires</h4> <br />
                    <span> <a href="{{ path('app_users_new') }}"> <button class="btn btn-primary"> <i class="fa fa-plus"></i> Nouveau Partenaire </button></a></span>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Nom & Prénoms</th>
                            <th>Username</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Société</th>
                            <th>Solde</th>
                            <th>Date d'ajout</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.Nom }} {{ user.Prenoms }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.Phone }}</td>
                                    <td>{{ user.Email }}</td>
                                    <td>{{ user.Adresse }}</td>
                                    <td>{{ user.societes.Nom }}</td>
                                    <td>{{ user.solde }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <ul class="action"> 
                                            <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                                            <li class="delete"><a href="{{ path('app_users_delete', {'id': user.id}) }}"><i class="icon-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Zero Configuration  Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->

        <!-- Modal Solde-->
        <div class="modal fade" id="exampleModallogin" tabindex="-1" role="dialog" aria-labelledby="exampleModallogin" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content dark-sign-up">
              <div class="modal-body social-profile text-start">
                <div class="modal-toggle-wrapper">
                  <h4 class="text-dark">Ajout de Solde</h4>
                  <p>Please check the information entered before confirming.</p>
                  <form class="row g-3" method="post" action="{{ path('app_ajsolde') }}">
                    <div class="col-md-12">
                      <label class="form-label" for="entran">Sociéte</label>
                      <select class="form-select js-select-single" id="entran" name="id">
                        {% for societe in societes %}
                            <option value="{{ societe.id }}"> {{ societe.Nom }} </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label class="form-label" for="inputer">Montant</label>
                      <input class="form-control" id="inputer" type="float" name="solde" placeholder="Entrer le montant à recharger">
                    </div>
                    <input type="hidden" name="Stoken" value="{{ csrf_token('add-solde') }}">
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Recharger</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Solde-->
{% endblock %}
