{% extends 'base-admin.html.twig' %}

{% block title %} Nouveau Utilisateur || {{ parent() }} {% endblock %}

{% block stylesheets %}
    <style>
        /* Text states (for js) */
        .hide {
            opacity: 0;
            top: calc(50% + 8em);
            display:none;
        }
        .show {
            opacity: 1;
            top: calc(50% + 6em);
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var password = document.getElementById('fakePassword');
          var toggler = document.getElementById('toggler');
    
          showHidePassword = () => {
            if (password.type == 'password') {
              password.setAttribute('type', 'text');
              toggler.classList.add('fa-eye-slash');
            } else {
              password.setAttribute('type', 'password');
            }
          };
    
          toggler.addEventListener('click', showHidePassword);
    </script>
    <script type="text/javascript">
        $(function() {
            $("#CAT_Custom_20063195").change(function() {
                if ($("#otherSelect").is(":selected")) {
                $(".moreInfoShow").show();
                } else {
                $(".moreInfoShow").hide();
                }
            }).trigger('change');
        });
    </script>
    
    <script type="text/javascript">
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-select2").select2({
                closeOnSelect: true
            });
        });
    </script>
{% endblock %}

{% block navline %}
    <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Dashboard</h4>
        <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_dash')}}"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Partenaires</li>
            <li class="breadcrumb-item f-w-400 active">Ajout Partenaire</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                <h4>Ajouts de partenaire</h4>
                <p class="f-m-light mt-1">Priez prendre le soins de bien remplir le formulaire.</p>
                </div>
                <div class="card-body custom-input">
                    <form class="row g-3" method="POST">
                        <div class="col-6"> 
                            <label class="form-label" for="first-name">Prénoms</label>
                            <input class="form-control" id="first-name" name="prenom" type="text" placeholder="Prénoms" aria-label="First name" required>
                        </div>
                        
                        <div class="col-6"> 
                            <label class="form-label" for="last-name">Nom</label>
                            <input class="form-control" id="last-name" name="nom" type="text" placeholder="Nom" aria-label="First name" required>
                        </div>
                        
                        <div class="col-6">
                            <label class="form-label" for="exampleFormControlInput1">Email address</label>
                            <input class="form-control" id="exampleFormControlInput1" name="email" type="email" placeholder="pesamof475@saeoil.com" required>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="Input1">Téléphone</label>
                            <input class="form-control" id="Input1" name="phone" type="tel" placeholder="22900000000" required>
                        </div>

                        <div class="col-6"> 
                            <label class="form-label" for="adresse">Adresse</label>
                            <input class="form-control" id="adresse" name="adresse" type="text" placeholder="Adresse" aria-label="Adresse" required>
                        </div>

                        <div class="col-6"> 
                            <label class="form-label" for="genre">Genre</label>
                            <div class="card-wrapper border rounded-3 checkbox-checked">
                                <div class="radio-form">
                                    <div class="form-check">
                                        <input class="form-check-input" id="flexRadioDefault1" type="radio" name="genre" value="Femme" required="">
                                        <label class="form-check-label" for="flexRadioDefault1">Femme</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" id="flexRadioDefault2" type="radio" name="genre" value="Homme" required="">
                                        <label class="form-check-label" for="flexRadioDefault2">Homme</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6"> 
                            <label class="form-label" for="CAT_Custom_20063195">Choix Société</label>
                            <select class="form-select js-select2" id="CAT_Custom_20063195" name="societe" required="" >
                                <option selected="" disabled="" value="">Choose...</option>
                                <option id="otherSelect" class="btn btn-secondary btn-clipboard" value="new">Nouvelle Société</option>
                                {% for societe in societes %}
                                    <option value="{{ societe.id }}"> {{ societe.Nom }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row g-3 moreInfoShow">
                            <div class="row g-3">
                                <div class="col-6"> 
                                    <label class="form-label" for="so-name">Nom de la société</label>
                                    <input class="form-control" id="so-name" name="so-name" type="text" placeholder="Nom de la société" aria-label="Nom de la société">
                                </div>

                                <div class="col-6"> 
                                    <label class="form-label" for="example1">Domaine d'Activité</label>
                                    <textarea class="form-control" id="example1" name="secAct" rows="3"></textarea>
                                </div>

                                <div class="col-6">
                                    <label class="form-label" for="departement">Département</label>
                                    <input class="form-control" id="departement" name="departement" type="text" placeholder="Département">
                                </div>

                                <div class="col-6">
                                    <label class="form-label" for="commune">Commune</label>
                                    <input class="form-control" id="commune" name="commune" type="text" placeholder="Commune">
                                </div>

                                <div class="col-6"> 
                                    <label class="form-label" for="Quartier">Quartier</label>
                                    <input class="form-control" id="Quartier" name="quartier" type="text" placeholder="Quartier">
                                </div>

                                <div class="col-6"> 
                                    <label class="form-label" for="adSo">Adresse Société</label>
                                    <input class="form-control" id="adSo" name="adsocie" type="text" placeholder="Adresse Société">
                                </div>

                                <div class="col-6">
                                    <label class="form-label" for="latitude">Latitude</label>
                                    <input class="form-control" id="latitude" name="latitude" type="text" placeholder="Latitude">
                                </div>

                                <div class="col-6">
                                    <label class="form-label" for="longitude">Longitude</label>
                                    <input class="form-control" id="longitude" name="longitude" type="text" placeholder="Longitude">
                                </div>
                            </div>
                        </div>

                        <div class="col-6"> 
                            <label class="form-label" for="identifiant">Identifiant</label>
                            <input class="form-control" id="identifiant" name="identifiant" type="text" placeholder="Identifiant" aria-label="Identifiant" required>
                        </div>

                        <div class="col-6"> 
                            <label class="col-sm-12 col-form-label" for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password" id="fakePassword"  required>
                            <span><i id="toggler"class="fa fa-fw fa-eye-slash show-hide"></i></span>
                        </div>

                        <div class="col-6"> 
                            <label class="col-sm-12 col-form-label" for="confirm_password">Confirmation Password</label>
                            <input class="form-control" id="confirm_password" name="cpassword" type="password" required>
                        </div>

                        <div class="col-12"> 
                            <label class="form-label" for="exampleFormControlTextarea1">Observation</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="observation" rows="3"></textarea>
                        </div>

                        <div class="col-12"> 
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" role="switch" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Êtes-vous sûr que les informations ci-dessus sont vraies ?</label>
                            </div>
                        </div>
                        <input type="hidden" name="Utoken" value="{{ csrf_token('add-user') }}">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}
