
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard super flexible, powerful, clean &amp; modern responsive">
    <meta name="keywords" content="admin, admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="Saphir's Digit">
    <link rel="icon" href="{{asset('mofi/assets/images/favicon.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{asset('mofi/assets/images/favicon.png')}}" type="image/x-icon">
    <title>{% block title %} CANAAN EXPRESS SERVICE - The best of the field {% endblock %}</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/font-awesome.css')}}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/vendors/icofont.css')}}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/vendors/themify.css')}}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/vendors/flag-icon.css')}}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/vendors/feather-icon.css')}}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/vendors/bootstrap.css')}}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/style.css')}}">
    <link id="color" rel="stylesheet" href="{{asset('mofi/assets/css/color-1.css')}}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{asset('mofi/assets/css/responsive.css')}}">
  </head>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- error-400 start-->
      <div class="error-wrapper">
        <div class="container"><img class="img-100" src="{{asset('mofi/assets/images/other-images/sad.gif')}}" alt="">
          <div class="error-heading">
            <h2 class="headline font-info">400</h2>
          </div>
          <div class="col-md-8 offset-md-2">
            <p class="sub-content">The page you are attempting to reach is currently not available. This may be because the page does not exist or has been moved.</p>
          </div>
          <div><a class="btn btn-info-gradien btn-lg" href="index.html">BACK TO HOME PAGE</a></div>
        </div>
      </div>
      <!-- error-400 end-->
    </div>
    <!-- latest jquery-->
    <script src="{{asset('mofi/assets/js/jquery.min.js')}}"></script>
    <!-- Bootstrap js-->
    <script src="{{asset('mofi/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <!-- feather icon js-->
    <script src="{{asset('mofi/assets/js/icons/feather-icon/feather.min.js')}}"></script>
    <script src="{{asset('mofi/assets/js/icons/feather-icon/feather-icon.js')}}"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="{{asset('mofi/assets/js/config.js')}}"></script>
    <!-- Plugins JS start-->
    <!-- calendar js-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{asset('mofi/assets/js/script.js')}}"></script>
    <!-- Plugin used-->
  </body>
</html>